$theme-colors: (
  'primary': #145bea,
  'secondary': #833bec,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff007f,
  'light': #c0ccda,
  'dark': #001738,
);


body{
  --text: #171C21;
  --bg: #5C7985;
  --bg2: #3a5157 ;
  --layer1: #846870;
  --layer2: #5e4a50;
}

.link{
  color: 'secondary';
}
.title{
  color: red;
}

@import '/node_modules/bootstrap/scss/bootstrap.scss';

