.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  display: flex;
  height: 100%;
  background: radial-gradient(at 0 100%, var(--bg) 20%, var(--bg2));
  // background-image: url("../public/assets/cactus.jpg");
  // background-size: cover;
  color: var(--text);
 }


.banner{
  --scale: 1.1;
  background: var(--layer1);
  background-image: url("../public/assets/waves.jpg");
  border-radius: 12px;
  color: var(--bg2);
  display: flex;
  align-items: center;
  justify-content: center;
  .menu{
    text-align: center;
    .link{
      cursor: pointer;
      margin: 20px;
      font-size: 18px;
    }
  };
}


.title{
  margin-bottom: 40px;
  display: flex;
  .profile{
    margin-right:6px;
    background-image: url("../public/assets/profile.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    transform: scaleX(-1);
  }
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
